body.login {
  /* color: white;*/
}

body a {
	text-decoration:none;
	margin:0 5px;
	color: #000 !important;
}

body.login p#nav a {
	color: #000;
	text-decoration:none;
	margin:0 5px;
}

.login #login_error, .login .message {
    border-left: 4px solid #000;
}

#wp-submit, input[type="submit"] {
    transition: all 0.2s linear 0s;
    margin-top: 20px;
    background: #000;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    border-radius: 4px !important;
    font-size: 18px !important;
    width: 100%;
    font-weight: normal;
    border-color: #000;
}
