#wll-important-notice {
    padding: 4px;
    background-color: blanchedalmond;
    margin-left: -20px;
    text-align: center;
}
.wll-admin-wrap {
  width: 90%;
  margin: 0 auto;
	font-size: initial;
	line-height: 2em;
}

#wll-textarea-css{
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-family: inherit;
    font-size: inherit;
    border: 0px;
    border-radius: inherit;
    padding: 8px;
}

.wll-admin-wrap select{
  font-size: initial;
  font-weight: 500;
}

.wll-admin-wrap p {
  font-size: inherit;
  line-height: 1.5;
  margin: 1em 0;
}

.wll-admin-wrap h2, h3 {
    font-weight: 400;
    font-size: 2em;
}

.wll-header {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  /*position: fixed;*/
  z-index: 10;
  margin-left: -20px;
  margin-bottom: 20px;
}

.wll-admin-wrap a {
  text-decoration: none;
}

.wll-admin-tab .nav-tab {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.wll-admin-dashicons-before:before {
  font-family: dashicons;
  display: inline-block;
  line-height: unset;
  padding: 8px 12px;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  height: auto;
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
  transition: color .1s ease-in;
  color: #555555;
  border: 0;
  border-top: 2px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 2px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 9px;
}
