/*** Misc ***/
#lostpasswordform div.g-recaptcha,
#loginform div.g-recaptcha,
#registerform div.g-recaptcha {
    margin: auto !important; /* Consider avoiding !important if possible */
}

.wll-header,
.login .message {
    padding: 10px 12px;
    color: #747474;
}

/* Body */
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 96%;
    margin-bottom: -50px; /* Equal to height of footer, accounting for margin-bottom of last child */
}

.footer, .push {
    height: 50px;
}

body.login h1 {
    font-weight: 100;
    color: #008EC2;
}

body h2 a {
    font-weight: 100;
    padding-top: 40px;
}

body.login p#nav a,
body a {
    text-decoration: none;
    margin: 0 5px;
}

hr {
    background-color: #cccccc;
    border: none;
    clear: both;
    height: 1px;
}

.cptch_block {
    border-radius: 4px;
    background-color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 12px;
}

#login #backtoblog {
    display: none;
    visibility: hidden;
    padding: 25px;
}

/* Login Form */
#login {
    /* text-align: center; */
    margin: 8% auto 4%;
    padding: 26px;
}

#loginrgstrfrm {
    color: #999;
}

#loginrgstrfrm li {
    list-style: square inside;
    margin: 2px;
}

#loginrgstrfrm hr {
    margin-bottom: 30px;
}

#loginrgstrfrm h3 {
    border-radius: 5px;
    color: #666666;
    padding: 8px;
    border: thin solid #CCCCCC;
}

#loginrgstrfrm .imprti {
    font-weight: bold;
}

#login_error,
.login .message,
.login #login_error {
    margin: 10px;
    /* border: solid thin #8a1f11; */
    border-radius: 4px;
    color: #8a1f11 !important; /* Consider removing !important if not necessary */
}

.login #nav {
    margin: 8px 0 0;
    font-size: initial;
}

.login form .input,
.login input[type="text"] {
    transition: all 0.2s linear;
    background: rgba(255, 255, 255, 0); /* Corrected rgba value */
    padding: 8px;
    border-radius: 0;
    color: #444;
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
}

#wp-submit, input[type="submit"] {
	transition: all 0.2s linear 0s;
	margin-top: 20px;
	font-size: 18px;
	width: 100%;
}

#login .admin-email__actions input[type="submit"]{
	font-size: 18px;
	width: inherit;
}

.admin-email__actions-secondary{
	font-size: initial;
}

.button-large{
    font-size: 18px !important;
}

.forgetmenot {
    padding-top: 8px;
}

.footer-copyright {
    padding-bottom: 20px;
    color: #747474;
}

#reg_passmail {
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    font-size: initial;
}

.login #login_error,
.login .message {
    border-left: 4px solid #00a0d2;
    font-size: initial;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    opacity: 0.96;
}

.footer-navigation ul {
    list-style: none;
    padding: 0;
}

.footer-navigation li {
    padding: 20px;
    display: inline;
}

#footer {
    bottom: 0;
}
