p {
    line-height: 1.5;
    font-size: initial;
}
.wll-header h2 a {
  font-size: inherit;
  font-weight: 400;
}
#login {
	  width:360px;
}


.login form {
    margin-top: 0px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    border: 0px solid #ccd0d4;
    box-shadow: 0 0px 0px rgba(0,0,0,.04);
}

/** LOGO **/
.login h1 a {
    background-repeat: no-repeat;
    color: #444;
    font-size: 20px;
    line-height: initial;
    margin: 0 auto;
    padding-bottom: 0px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}
