/*** misc ****/
#lostpasswordform div.g-recaptcha, #loginform div.g-recaptcha, #registerform div.g-recaptcha {
    margin: auto !important;
}

.wll-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
	color: #747474;
}

.login .message {
	color: #747474;
}

/* body **************************************/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 96%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

body.login h1{
	font-weight: 100;
	color: #008EC2;
}

body h2 a{
	font-weight: 100;
	padding-top: 40px;
}


body.login p#nav a {
	text-decoration:none;
	margin:0 5px;
}

body a {
	text-decoration:none;
	margin:0 5px;
}

hr{
	background-color: #cccccc;
	border: 0px none;
	clear: both;
	height: 1px;
}
.cptch_block {
  border-radius:4px;
	background-color: #333333;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 12px;
}

#login #backtoblog{
	display:none !important;
	visibility:hidden;
  padding: 25px;
}
/********* Login form *******/
#login {
  align: center;
  margin-top: 8%;
  margin-right: auto;
  margin-bottom: 4%;
  padding: 26px;
}

#loginrgstrfrm{
	color: #999;
}

#loginrgstrfrm li{
	list-style-position: inside;
	list-style-type: square;
	margin: 2px;
}
#loginrgstrfrm hr{
	margin-bottom: 30px;
}
#loginrgstrfrm h3{
	border-radius:5px;
	color: #666666;
	padding: 8px;
	border: thin solid #CCCCCC;
}
#loginrgstrfrm .imprti{
	 font-weight: bold;
}

#login_error, .login .message {
    margin: 10px;
    /* color: #CB4721; */
}
#login_error  {
 	  border: solid thin #8a1f11;
    border-radius: 4px;
    color: #8a1f11 !important;
}

.login #nav {
  margin: 8px 0 0;
  font-size: initial;
}

.login form .input, .login input[type="text"] {
  transition: all 0.2s linear 0s;
  background: none repeat scroll 0% 0% rgba(255, 255, 255,);
  padding: 8px;
  border-radius: 0px;
  color: rgb(68, 68, 68);
	margin-bottom:1em;
	font-size: 18px !important;
	width: 100%;
	font-weight: normal;
}

.forgetmenot {
	padding-top: 8px;
}

.footer-copyright{
	padding-bottom: 20px;
	color: #747474;
}

#reg_passmail {
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    font-size: initial;
}

.login #login_error, .login .message {
    border-left: 4px solid #00a0d2;
    font-size: initial;
    border-left-color: rgb(0, 160, 210);
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    opacity: 0.96;
}

.footer-navigation ul {
    list-style-type: none;
    list-style: none;
    list-style-image: none;
}

.footer-navigation li {
    padding: 20px;
    display: inline;
}

#footer {
  /* position:absolute; if the form falls behind the footer we cant access the links */
  bottom:0;
   /*height:60px;*/
   /*background-color: #e2e2e2;*/
}
